<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart page</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/show.css">
    <%- include("includes/header.ejs") %>
</head>
<body>
    <%- include("includes/nav.ejs") %>
    <div class="cartbody">
        <%- include("includes/login.ejs") %>
        <div class="cartcontent">
            <h1>Your cart</h1>
            <img src="/img/cartman.svg">
            <form action="/home">
                <button>Start Shopping</button>
            </form>
        </div>
    </div>
    <div class="recomendation" style="margin-bottom: 120px;">
        <h1 style="margin-left: 100px;"><i class="fa-solid fa-thumbs-up"></i><i id="thumb" class="fa-solid fa-thumbs-up"></i>&nbsp;<span style="opacity: .8;">We Think You'll Love These</span></h1>
        <div class="posts" style="padding: 0px 80px;">
            <% for(let post of posts.slice(0,4)){ %>
                <a href="/home/<%= post.id %>">
                <div class="card">
                    <div class="img"><img src="<%= post.images[0] %>" alt="img"></div>
                   <div style="font-size: 16px;opacity: .8;" class="book"><span>Book:</span>&nbsp;<%= post.book %></div>
                   <div class="seller"><span>Seller:</span>&nbsp;<%= post.seller %></div>
                   <div class="city"><span>City:</span>&nbsp;<%= post.city %></div>
                   <div style="font-size: 15px;opacity: .8;" class="price">&#8377;<%= post.price %></div>
                </div>
            </a>
            <% } %>
            </div>
    </div>
    <%- include("includes/footer.ejs") %>
</body>
</html>